@charset "utf-8";

#wrap{
    width:600px;
    margin:0 auto;
    /*outline:1px solid red;*/
    
}

/*a:link{color:white} 이거 적용이 안됌*/
a:visited{color:white;}
a:hover{color:yellow;}

header>.tit{
    width:600px;
    height:100px;
    line-height:100px;
   /* line-height:2;*/
    color:white;
    background-color:#006699;
}

/*header>h1{
    display:block;
    padding-left:20px;
    padding-right:20px;
    font-size:1000px;
}*/


.tit{zoom:1;}
.tit{display:block;clear:both;content;'';}

header>.tit>ol>li{
    float:left;
    color:white;
    
    margin-right:10px;
    font-size:16px;
   /* border:1px solid red;*/
    
}

header>.tit>ol>li:first-child{
    width:200px;
    text-align:center;
    
}


section>.cont{
    width:600px;
    padding:20px 10px;
    font-size:14px;
    background-color:white;
    border:15px solid #333;
    box-sizing:border-box;
    
}

section>.cont>h2{
    width:600px;
    margin-top:30px;
    margin-bottom:20px;
    color:black;
    font-size:25px;
    font-weight:800;
    /*border:1px solid blue;*/
}

.cont{zoom:1;}
.cont{display:block;clear:both;content;'';}

section>.cont>img{
    display:block;
    float:right;
    width:300px;
    height:auto;
    margin-left:5px;
    box-shadow:3px 3px 3px grey;
}






footer{
    height:80px;
    color:white;
    font-size:16px;
    line-height:80px;
    text-align:center;
    background-color:#333;
}